<hr>
<div class="table-container">
    <div class="container mt-4">
        <router-outlet></router-outlet>
      </div>
    <h2>Task List</h2> 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
                <th><button class="btn btn-primary back-btn" routerLink="/main-dashboard">Back</button>|
                    <button class="btn btn-primary back-btn" routerLink="/task-add">Add</button></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.status }}</td>
                <td>
                    <button class="btn btn-primary mr-2" (click)="deleteTask(userAndTask.taskId)">Delete</button>
                    <button class="btn btn-primary mr-2" routerLink="/task-edit">Update</button>
                    <button class="btn btn-primary mr-2" >Change Status</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
