<div class="container mt-4">
  <div class="table-container">
    <h2 class="text-center mb-4">{{ loggedUserName }}'s Task List</h2>

    <div class="d-flex justify-content-between align-items-center mb-4">
      <div class="d-flex align-items-center flex-grow-1 mr-2">
        <label for="statusFilter" class="mr-2">Filter By Status:</label>
        <select id="statusFilter" class="form-control form-control-sm" [(ngModel)]="statusFilter">
          <option value="">All</option>
          <option value="NoProgress">No Progress</option>
          <option value="Started">Started</option>
          <option value="Done">Done</option>
        </select>
      </div>
      
      <div class="d-flex align-items-center flex-grow-1 mx-2">
        <input type="text" class="form-control form-control-sm" placeholder="Search by title" [(ngModel)]="titleFilter">
      </div>
      
      <div class="d-flex align-items-center">
        <button class="btn btn-primary mr-2" (click)="applyFilter()">Apply</button>
        <button class="btn btn-primary mr-2" (click)="applyFilter()">Search</button>
        <button class="btn btn-secondary mr-2" routerLink="/main-dashboard">Back</button>
        <button class="btn btn-success" (click)="addTask()">Add Task</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.status }}</td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="deleteTask(task.id)">Delete</button>
              <button class="btn btn-info btn-sm ml-2" (click)="updateTask(task.id)">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
